# IntelliJ
.idea
*.iml

# Visual Studio Code
.vscode

# dependencies
**/node_modules

# build
**/.cache
**/dist
**/.dist
**/cdk.out
coverage

# config
.env.local

# misc
.DS_Store
!**/.gitkeep

npm-debug.log*